# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.BuldingEscape.iml
# Datasource local storage ignored files
/../../../../../../:\UnrealRepos\BuldingEscape\.idea\.idea.BuldingEscape\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
